body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'bodini 72 oldstyle';
  background-color: #eeeeee;
  color: #333333;
}
.hidden {
  display: none;
}

.contentWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vh;
  height: 100vh;
  padding: 10px;
  flex-wrap: nowrap;
  flex-direction: column;
}

.accountDiv {
  border: solid;
  display: inline-block;
  margin-top: 10px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: white;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

nav {
  display: flex;
  align-self: center;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  font-size: xx-large;
  border-bottom: solid;
  margin-bottom: 20px;
  background-color: #60cd17;
  color: white;
}
input {
  margin: 5px;
  height: 30px;
}
button {
  margin: 5px;
  height: 30px;
  background-color: #f5ebe0;
  border-radius: 4px;
  background-color: #007ac7;
  border-style: none;
  color: white;
  box-sizing: border-box;
}
.form {
  display: flex;
  flex-direction: column;
}
.form-div {
  display: flex;
  flex-direction: column;
  width: 100vh;
  margin-bottom: 15px;
}
.updateDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vh;
  margin-bottom: 15px;
}
.depositDiv {
  margin-right: 20px;
}
.withdrawDiv {
  margin-right: 20px;
}
p {
  margin: 1px;
  margin-bottom: 9px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
h3 {
  display: flex;
  flex-direction: row;
  border-bottom: #7b7371 solid;
}
h4 {
  margin: 3px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.postBtn {
  width: 70px;
  align-self: flex-end;
}
.deleteBtn {
  width: 100px;
  background-color: #7b7371;
  margin-left: 700px;
}
.deleteBtn:hover {
  background-color: #e76f51;
}
.loginDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-form {
  border: thin solid;
  padding: 30px;
  margin: 20px;
  width: 300px;
  background-color: white;
}

.register-from {
  border: thin solid;
  padding: 30px;
  margin: 20px;
  width: 300px;
  background-color: white;
}

.login-form input {
  margin: 10px;
  width: 200px;
  height: 30px;
}

.register-from input {
  margin: 10px;
  width: 200px;
  height: 30px;
}

.login-form button {
  margin: 10px;
  width: 100px;
  height: 30px;
}

.register-from button {
  margin: 10px;
  width: 100px;
  height: 30px;
}
